.app {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
	height: 100dvh;
}

.app header {
	padding: 1rem;
	border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.app header form {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column: 1 / 3;
	gap: 0.5rem;
	font-size: 1rem;
}

.app header form .input-wrapper {
	display: flex;
	border: 1px solid hsla(0, 0%, 0%, 1);
	border-radius: 0.25rem;
	background-color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 0%, 1);
}
.app header form .input-wrapper input,
.app header form .input-wrapper button {
	border: none;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	border-radius: unset;
}

.app header form .input-wrapper button {
	font-size: 0.8rem;
	font-weight: normal;
}

.app header button {
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	border: 1px solid hsla(0, 0%, 0%, 1);
	border-radius: 0.25rem;
	background-color: hsla(0, 0%, 100%, 1);
	color: hsla(0, 0%, 0%, 1);
	font-weight: bold;
}

.app header form input {
	font-size: inherit;
	width: 100%;
	border: 1px solid hsla(0, 0%, 0%, 1);
	border-radius: 0.25rem;
	padding: 0.5rem 0.5rem;
}

.app main {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: contain;
	padding: 1rem;

	display: grid;
	grid-template-rows: 1fr auto;
}

.app main h1 {
	text-align: center;
	font-size: min(16rem, 24vw);
	font-weight: bold;
	margin: 0.5em 0;
}

.app main .grocery-items-wrapper {
	display: grid;
	grid-template-rows: 1.5rem 1fr;
	gap: 0.25rem;
}

.app main .grocery-items-wrapper .placeholder {
	grid-row: 1 / 2;
	justify-self: end;
}

.app main ul.grocery-items {
	grid-row: 2 / 3;
	list-style: none;
	padding: 0;

	width: min(100%, 40rem);
	margin-inline: auto;
	margin-block: 0;
}

.app main ul.grocery-items li {
	padding-block: 0.75rem;
}

.app main ul.grocery-items li + li {
	border-top: 1px solid hsla(0, 0%, 0%, 1);
}

.app main ul.grocery-items dl {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
}

.app main ul.grocery-items dl dt {
	/* font-weight: bold; */
}

.app main ul.grocery-items dl dd {
	font-style: italic;
	font-weight: bold;
}

.app main ul.grocery-items li.added {
	color: hsla(0, 0%, 0%, 0.5);
}

.app main ul.grocery-items li.added dd {
	text-decoration: line-through;
}
