# Required for Drizzle Studio and migrations
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_DATABASE_ID=c976d27c-61a0-448e-9532-c537bee1d760
CF_API_TOKEN=your_cloudflare_api_token

# Get your account ID by running:
# pnpm exec wrangler whoami
# 
# Get your database ID by running:
# pnpm exec wrangler d1 info shopping-list
#
# Get your API token by creating a token in the Cloudflare dashboard:
# https://dash.cloudflare.com/profile/api-tokens
# Make sure it has D1 write permissions 